<div class= "container-fluid d-flex justify-content-center text-center">
  <div class= "about-container">
  <h2 id="fit-auditor">Fit Auditor</h2>
    <p>The fit auditor takes the eft of any two fits and will tell you the difference between them. Use it to refit ships, poach shared modules off old, unused fits, or make sure your fit is right for MOTD before undocking</p>
    <p>Fits entered into the fit auditor are <em>not</em> saved. The service behind it does some array manipulation and spits out the difference.</p>
  <h4 id="did-this-tool-help-you">Did this tool help you?</h4>
    <p>I'm just a poor girl, I need no sympathy -- but I do need to fund my lachesises. Isk donations to this noble cause can be sent to PPLord in game <3</p>
  </div>
</div>
