/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
  /Custom bootstrap variables must be set or imported *before* bootstrap./
 */

@import url('https://fonts.googleapis.com/css2?family=Signika');
@import "bootstrap";
@import "./*";

.container-fluid {
  padding: 20px;
  color: #343A40;
}

.navbar {
  padding-top: 0;
  font-family: 'Signika', sans-serif;
}

.navbar-brand {
  padding: 0;

  .brand-name {
    font-weight: 600;
    top: 6px;
    position: relative;
    font-size: 32px;
    letter-spacing: -1.2px;
  }
}

.navbar-dark {
  .navbar-nav {
    padding-top: 15px;
    padding-bottom: 0;

    .nav-link {
      color: white;
    }
  }
}
